body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
abbr {
  text-decoration: none;
}
h1,
h2 {
  margin: 0;
}
p {
  width: 400px;
}
div {
  padding: 10px;
}
img {
  width: 400px;
  height: auto;
  float: right;
}
.definicion-historia {
  text-align: center;
  background-color: orangered;
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}
.definicion-historia p {
  width: 500px;
  margin: auto;
}
